.-footer {
  position: absolute;
  z-index: 10;
  left: 0;
  right: 0;
  bottom: 0;
  border-top: 1px solid #756D4D;
  text-align: center;
  color: #756D4D;
}
.-footer p {
  margin: 5px 0;
  font-size: 12px;
}
.-header {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 60px;
  z-index: 200;
}
.-header .-header-head {
  width: 100%;
  height: 60px;
  position: absolute;
  z-index: -1;
}
.-header .-header-head .-header-c {
  padding: 0 3%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
}
.-header .-header-head .-header-c .-logo {
  float: left;
  height: 60px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}
.-header .-header-head .-header-c .-logo .-logo-c {
  display: block;
  width: 40px;
  height: 40px;
  background-size: contain;
  border-radius: 50%;
}
.-header .-header-head .-header-c .-header-title {
  display: none;
  position: relative;
  color: #FFF;
}
.-header .-header-head .-header-c .-header-title:after {
  content: "";
  position: absolute;
  top: 50%;
  right: -15px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #FFF;
  transition: 0.5s;
}
.-header .-header-head .-header-c .-rotate:after {
  transform: rotate(180deg);
}
.-header .-header-head .-header-c .-language {
  float: right;
  height: 60px;
  width: 40px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}
.-header .-header-head .-header-c .-language .-language-c {
  border-radius: 25px;
  background-color: rgba(0, 0, 0, 0.1);
  position: relative;
}
.-header .-header-head .-header-c .-language .-language-c span {
  color: rgba(0, 0, 0, 0.3);
  width: 30px;
  display: inline-block;
  line-height: 30px;
  text-align: center;
  transition: color .3s ease;
}
.-header .-header-head .-header-c .-language .-language-c .-selected {
  color: #FFF;
}
.-header .-header-head .-header-c .-language .-language-c:after {
  content: "";
  width: 30px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.75);
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(0);
  border-radius: 50%;
  z-index: -1;
  transition: transform .3s ease;
}
.-header .-header-head .-header-c .-language .-selectEn:after {
  transform: translateX(100%);
}
.-header .-header-nav {
  height: 50px;
  position: absolute;
  top: 60px;
  width: 100%;
  font-size: 13px;
  background-color: rgba(255, 255, 255, 0.4);
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s;
}
.-header .-header-nav .-list {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-align: center;
      align-items: center;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
}
.-header .-header-nav .-list em {
  font-style: normal;
}
.-header .-header-nav .-list .-cur-index {
  color: #38BCFF;
}
.-header .-show-nav {
  visibility: visible;
  opacity: 1;
}
.-header .-header-nav-dot {
  position: fixed;
  right: 40px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  text-align: center;
}
.-header .-header-nav-dot .-item {
  line-height: 24px;
  position: relative;
  width: 24px;
  height: 24px;
  margin: 12px auto;
}
.-header .-header-nav-dot .-item .-dot {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  width: 12px;
  height: 12px;
  background: rgba(0, 0, 0, 0.7);
  transition: all .3s ease;
  border-radius: 50%;
  opacity: .1;
  cursor: pointer;
}
.-header .-header-nav-dot .-item .-dot img {
  width: 60%;
  opacity: 0;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translateY(-50%) translateX(50%);
  z-index: -1;
  pointer-events: none;
}
.-header .-header-nav-dot .-item .-dot:hover {
  transform: translateY(-50%) scale(3);
  opacity: 1;
}
.-header .-header-nav-dot .-item .-dot:hover img {
  opacity: 1;
}
.-header .-header-nav-dot .-item .-dot:hover + span {
  opacity: 1;
}
.-header .-header-nav-dot .-item .-dot-title {
  position: absolute;
  display: inline-block;
  opacity: 0;
  z-index: 1;
  transition: all .3s ease;
  width: 60px;
  left: -70px;
  text-align: center;
  background: rgba(0, 0, 0, 0.7);
  color: #FFF;
  border-radius: 3px 0 0 3px;
  font-weight: bold;
}
.-header .-header-nav-dot .-item .-dot-title:after {
  content: "";
  position: absolute;
  right: -12px;
  width: 0;
  height: 0;
  border-top: 12px solid transparent;
  border-left: 12px solid rgba(0, 0, 0, 0.7);
  border-bottom: 12px solid transparent;
}
.-header .-header-nav-dot .-cur-index .-dot {
  transform: translateY(-50%) scale(3);
  opacity: 1;
}
.-header .-header-nav-dot .-cur-index .-dot img {
  opacity: 1;
}
@media screen and (max-width: 600px) {
  .-header .-header-head .-header-c {
    top: 50px;
  }
  .-header .-header-head .-header-c .-header-title {
    display: block;
  }
  .-header .-header-nav {
    height: 30px;
    top: 50px;
  }
  .-header .-header-nav .-list {
    height: 30px;
  }
  .-header .-header-nav-dot {
    display: none;
  }
}
.-info {
  background: #109085 url(../img/bg.png);
}
.-info .-info-list {
  max-width: 800px;
  margin: 0 auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 18px;
}
.-info .-info-list .-info-item {
  width: 100px;
  margin: 0 20px;
}
.-info .-info-list .-info-item .-cont .-img {
  width: 90px;
  height: 90px;
  cursor: pointer;
  transition: transform ease-out 0.1s, background 0.2s;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  position: relative;
  margin: 0 auto;
}
.-info .-info-list .-info-item .-cont .-img img {
  width: 50%;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translateY(-50%) translateX(50%);
}
.-info .-info-list .-info-item .-cont .-img:after {
  content: '';
  position: absolute;
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1);
  opacity: 0;
  transform: scale(0.9);
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.-info .-info-list .-info-item .-cont .-img:hover {
  background: rgba(255, 255, 255, 0.05);
  transform: scale(0.93);
  color: #fff;
}
.-info .-info-list .-info-item .-cont .-img:hover:after {
  animation: effect 1.3s ease-out 75ms;
}
.-info .-info-list .-info-item .-cont .-intro {
  text-align: center;
  margin-top: 20px;
  color: #FFF;
}
.-info .-info-list .-info-item .-cont .-intro-en {
  width: 150px;
  position: relative;
  left: -25px;
}
.-info .-info-des {
  text-align: center;
  line-height: 24px;
  padding-top: 50px;
  font-size: 18px;
  color: #FFF;
}
@keyframes effect {
  0% {
    opacity: 0.3;
  }
  40% {
    opacity: 0.5;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px #109085, 0 0 0 10px rgba(255, 255, 255, 0.5);
  }
  100% {
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px #109085, 0 0 0 10px rgba(255, 255, 255, 0.5);
    transform: scale(1.5);
    opacity: 0;
  }
}
@media screen and (max-width: 1366px) {
  .-info .-content {
    top: 160px;
  }
}
@media screen and (max-width: 600px) {
  .-info .-content {
    top: 80px;
  }
  .-info .-content .-info-list .-info-item .-cont .-img {
    width: 50px;
    height: 50px;
  }
  .-info .-content .-info-list .-info-item .-intro {
    margin: 20px 0;
    font-size: 12px;
  }
  .-info .-content .-info-des {
    padding-top: 15px;
    line-height: 16px;
    font-size: 14px;
  }
  .-info .-content .-info-des-en {
    font-size: 12px;
    width: 95%;
    margin: 0 auto;
  }
  .-title {
    display: none;
  }
}
@media screen and (max-height: 550px) {
  .-info .-content .-info-des-en {
    padding-top: 0;
    font-size: 12px;
    width: 95%;
    margin: 0 auto;
  }
  .-info .-content .-info-des-en p {
    margin: 5px 0;
  }
}
.-default {
  background: #87b0a5 url("../img/bg.png");
}
.-default .-content {
  top: 200px;
}
.-default .-photo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: url("../img/photo.jpg") no-repeat center center;
  background-size: contain;
  margin: 0 auto;
  transition: box-shadow 0.5s linear;
}
.-default .-photo:hover {
  box-shadow: 0 0 15px #1FAEFF;
}
.-default .-des {
  text-align: center;
  max-width: 90%;
  margin: 0 auto;
  color: #FFF;
}
.-default .-des .-quote {
  font-size: 22px;
  position: relative;
  padding: 20px 0;
}
.-default .-des .-quote:after {
  content: "";
  position: absolute;
  left: 10%;
  right: 10%;
  bottom: 0;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.6);
}
.-default .-des .-des-list {
  padding-top: 20px;
  line-height: 20px;
  font-size: 18px;
}
.-default .-des .-des-list p {
  margin: 24px 0;
}
@media screen and (max-width: 1366px) {
  .-default .-content {
    top: 120px;
  }
}
@media screen and (max-width: 600px) {
  .-default .-content {
    top: 80px;
  }
  .-default .-des .-quote {
    font-size: 16px;
  }
  .-default .-des .-des-list {
    padding: 0;
    line-height: 16px;
    font-size: 14px;
  }
  .-default .-des .-des-list p {
    margin: 20px 0;
  }
  .-title {
    display: none;
  }
}
.-skill {
  background: #4d5e8f url(../img/bg.png);
}
.-skill .-contain {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-align: center;
      align-items: center;
  max-width: 800px;
  margin: 0 auto;
  min-width: 750px;
}
.-skill .-contain .-skill-circle {
  padding: 5px;
  position: relative;
  font-size: 12px;
  width: 300px;
  color: #FFF;
}
.-skill .-contain .-skill-circle .-outCircle {
  width: 242px;
  height: 242px;
  border: 4px dashed #999;
  border-radius: 50%;
  position: relative;
  margin: 0 auto;
}
.-skill .-contain .-skill-circle .-outCircle .-out {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  text-align: center;
  line-height: 50px;
  -webkit-backface-visibility: hidden;
}
.-skill .-contain .-skill-circle .-outCircle .-out:nth-child(1) {
  animation: outX 8s cubic-bezier(0.36, 0, 0.64, 1) -4s infinite alternate, outY 8s cubic-bezier(0.36, 0, 0.64, 1) 0s infinite alternate;
}
.-skill .-contain .-skill-circle .-outCircle .-out:nth-child(2) {
  animation: outX 8s cubic-bezier(0.36, 0, 0.64, 1) -6s infinite alternate, outY 8s cubic-bezier(0.36, 0, 0.64, 1) -2s infinite alternate;
}
.-skill .-contain .-skill-circle .-outCircle .-out:nth-child(3) {
  animation: outX 8s cubic-bezier(0.36, 0, 0.64, 1) -8s infinite alternate, outY 8s cubic-bezier(0.36, 0, 0.64, 1) -4s infinite alternate;
}
.-skill .-contain .-skill-circle .-outCircle .-out:nth-child(4) {
  animation: outX 8s cubic-bezier(0.36, 0, 0.64, 1) -10s infinite alternate, outY 8s cubic-bezier(0.36, 0, 0.64, 1) -6s infinite alternate;
}
.-skill .-contain .-skill-circle .-outCircle .-out:nth-child(5) {
  animation: outX 8s cubic-bezier(0.36, 0, 0.64, 1) -12s infinite alternate, outY 8s cubic-bezier(0.36, 0, 0.64, 1) -8s infinite alternate;
}
.-skill .-contain .-skill-circle .-outCircle .-out:nth-child(6) {
  animation: outX 8s cubic-bezier(0.36, 0, 0.64, 1) -14s infinite alternate, outY 8s cubic-bezier(0.36, 0, 0.64, 1) -10s infinite alternate;
}
.-skill .-contain .-skill-circle .-outCircle .-out:nth-child(7) {
  animation: outX 8s cubic-bezier(0.36, 0, 0.64, 1) -16s infinite alternate, outY 8s cubic-bezier(0.36, 0, 0.64, 1) -12s infinite alternate;
}
.-skill .-contain .-skill-circle .-outCircle .-out:nth-child(8) {
  animation: outX 8s cubic-bezier(0.36, 0, 0.64, 1) -18s infinite alternate, outY 8s cubic-bezier(0.36, 0, 0.64, 1) -14s infinite alternate;
}
.-skill .-contain .-skill-circle .-innerCircle {
  width: 142px;
  height: 142px;
  border: 4px dashed #999;
  border-radius: 50%;
  position: absolute;
  text-align: center;
  line-height: 50px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.-skill .-contain .-skill-circle .-innerCircle .-inner {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  text-align: center;
  line-height: 40px;
  -webkit-backface-visibility: hidden;
}
.-skill .-contain .-skill-circle .-innerCircle .-inner:nth-child(1) {
  animation: innerX 8s cubic-bezier(0.36, 0, 0.64, 1) -4s infinite alternate, innerY 8s cubic-bezier(0.36, 0, 0.64, 1) 0s infinite alternate;
}
.-skill .-contain .-skill-circle .-innerCircle .-inner:nth-child(2) {
  animation: innerX 8s cubic-bezier(0.36, 0, 0.64, 1) -8s infinite alternate, innerY 8s cubic-bezier(0.36, 0, 0.64, 1) -4s infinite alternate;
}
.-skill .-contain .-skill-circle .-innerCircle .-inner:nth-child(3) {
  animation: innerX 8s cubic-bezier(0.36, 0, 0.64, 1) -12s infinite alternate, innerY 8s cubic-bezier(0.36, 0, 0.64, 1) -8s infinite alternate;
}
.-skill .-contain .-skill-circle .-innerCircle .-inner:nth-child(4) {
  animation: innerX 8s cubic-bezier(0.36, 0, 0.64, 1) -16s infinite alternate, innerY 8s cubic-bezier(0.36, 0, 0.64, 1) -12s infinite alternate;
}
.-skill .-contain .-des {
  text-align: center;
  color: #FFF;
  line-height: 24px;
  font-size: 18px;
}
.-skill .-contain-en {
  max-width: 1200px;
}
@keyframes outX {
  0% {
    left: -27px;
  }
  100% {
    left: 217px;
  }
}
@keyframes outY {
  0% {
    top: -27px;
  }
  100% {
    top: 217px;
  }
}
@keyframes innerX {
  0% {
    left: -22px;
  }
  100% {
    left: 122px;
  }
}
@keyframes innerY {
  0% {
    top: 122px;
  }
  100% {
    top: -22px;
  }
}
@media screen and (max-width: 1366px) {
  .-skill .-content {
    top: 200px;
  }
}
@media screen and (max-width: 600px) {
  .-skill .-content {
    top: 80px;
  }
  .-skill .-content .-contain {
    min-width: 0;
    width: 90%;
  }
  .-skill .-content .-contain .-skill-circle {
    margin: 0 auto;
  }
  .-skill .-content .-contain .-des {
    padding-top: 10px;
    font-size: 14px;
    line-height: 16px;
    margin: 0 auto;
  }
  .-skill .-content .-contain .-des-en {
    font-size: 12px;
  }
}
@media screen and (max-height: 550px) {
  .-skill .-content {
    top: 65px;
  }
  .-skill .-content .-contain .-des-en {
    padding-top: 2px;
  }
  .-skill .-content .-contain .-des-en p {
    margin: 5px 0;
  }
}
.-experience {
  background: #945c4c url(../img/bg.png);
}
.-experience .-content {
  perspective: 3000px;
}
.-experience .-content .-banner {
  width: 750px;
  height: 350px;
  background: #F2F4F5;
  margin: 0 auto;
  border: 1px solid #eee;
  border-radius: 10px;
  color: #000;
  transition: transform .3s linear;
  overflow: hidden;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
  transform-style: preserve-3d;
}
.-experience .-content .-banner .-experience-content {
  transition: opacity 0.3s;
  height: 100%;
}
.-experience .-content .-banner .-experience-content .-left {
  float: left;
  height: 100%;
  position: relative;
  perspective: 800px;
  transform-style: preserve-3d;
}
.-experience .-content .-banner .-experience-content .-left .-img {
  background: no-repeat center center;
  background-size: 55%;
  width: 150px;
  height: 100%;
  transform: translateZ(50px);
}
.-experience .-content .-banner .-experience-content .-left:after {
  content: "";
  background: #eee;
  width: 1px;
  position: absolute;
  top: 10%;
  bottom: 10%;
  right: 0;
}
.-experience .-content .-banner .-experience-content .-right {
  padding-left: 50px;
  float: left;
  height: 100%;
  width: 550px;
}
.-experience .-content .-banner .-experience-content .-right h4 {
  color: #945C4C;
  font-size: 20px;
}
.-experience .-content .-banner .-experience-content .-right .-time {
  color: #AF7464;
  font-size: 14px;
}
.-experience .-content .-banner .-experience-content .-right .-post {
  color: #9E6351;
  font-size: 16px;
}
.-experience .-content .-banner .-experience-content .-right .-tech {
  color: #9E6351;
  font-size: 14px;
}
.-experience .-content .-banner .-experience-content .-right .-list .-item {
  line-height: 30px;
  font-size: 16px;
  position: relative;
}
.-experience .-content .-banner .-experience-content .-right .-list .-item:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -10px;
  width: 5px;
  height: 5px;
  transform: translateY(-50%);
  border-radius: 50%;
  background-color: #AF7464;
}
.-experience .-content .-banner .-experience-content .-right .-list .-item-en {
  font-size: 14px;
}
.-experience .-content .-shout-cut {
  width: 200px;
  margin: 0 auto;
  padding-top: 50px;
}
.-experience .-content .-shout-cut .-cut-list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  z-index: 101;
}
.-experience .-content .-shout-cut .-cut-list .-item {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #623C32;
  cursor: pointer;
  transition: background-color 0.3s linear;
  position: relative;
}
.-experience .-content .-shout-cut .-cut-list .-item:before {
  content: '';
  position: absolute;
  top: -15px;
  right: -15px;
  left: -15px;
  bottom: -15px;
}
.-experience .-content .-shout-cut .-cut-list .-selected {
  background-color: #AF7164;
}
.-experience .-content .-exp-des {
  margin-top: 50px;
  color: #FFF;
  text-align: center;
  font-size: 18px;
}
@media screen and (max-width: 1366px) {
  .-experience .-content {
    top: 150px;
  }
  .-experience .-content .-shout-cut {
    padding-top: 20px;
  }
  .-experience .-content .-exp-des {
    margin-top: 20px;
  }
}
@media screen and (max-width: 600px) {
  .-experience .-content {
    top: 80px;
  }
  .-experience .-content .-banner {
    width: 90%;
    height: 80%;
  }
  .-experience .-content .-banner .-experience-content .-left {
    display: none;
  }
  .-experience .-content .-banner .-experience-content .-right {
    width: 90%;
    margin: 0 auto;
    padding: 0;
    float: none;
  }
  .-experience .-content .-banner .-experience-content .-right h4 {
    font-size: 16px;
    margin: 10px 0;
  }
  .-experience .-content .-banner .-experience-content .-right p {
    margin: 10px 0;
  }
  .-experience .-content .-banner .-experience-content .-right .-time {
    font-size: 12px;
  }
  .-experience .-content .-banner .-experience-content .-right .-post {
    font-size: 14px;
  }
  .-experience .-content .-banner .-experience-content .-right .-tech {
    font-size: 13px;
  }
  .-experience .-content .-banner .-experience-content .-right .-list .-item {
    font-size: 12px;
    line-height: 16px;
    margin: 12px 0;
  }
  .-experience .-content .-shout-cut {
    padding-top: 35px;
  }
  .-experience .-content .-exp-des {
    display: none;
  }
}
/*! PhotoSwipe main CSS by Dmitry Semenov | photoswipe.com | MIT license */
/*
	Styles for basic PhotoSwipe functionality (sliding area, open/close transitions)
*/
/* pswp = photoswipe */
.pswp {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  overflow: hidden;
  -ms-touch-action: none;
  touch-action: none;
  z-index: 1500;
  -webkit-text-size-adjust: 100%;
  /* create separate layer, to avoid paint on window.onscroll in webkit/blink */
  -webkit-backface-visibility: hidden;
  outline: none;
}
.pswp * {
  box-sizing: border-box;
}
.pswp img {
  max-width: none;
}
/* style is added when JS option showHideOpacity is set to true */
.pswp--animate_opacity {
  /* 0.001, because opacity:0 doesn't trigger Paint action, which causes lag at start of transition */
  opacity: 0.001;
  will-change: opacity;
  /* for open/close transition */
  transition: opacity 333ms cubic-bezier(0.4, 0, 0.22, 1);
}
.pswp--open {
  display: block;
}
.pswp--zoom-allowed .pswp__img {
  /* autoprefixer: off */
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in;
}
.pswp--zoomed-in .pswp__img {
  /* autoprefixer: off */
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: grab;
}
.pswp--dragging .pswp__img {
  /* autoprefixer: off */
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: grabbing;
}
/*
	Background is added as a separate element.
	As animating opacity is much faster than animating rgba() background-color.
*/
.pswp__bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0;
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  will-change: opacity;
}
.pswp__scroll-wrap {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.pswp__container,
.pswp__zoom-wrap {
  -ms-touch-action: none;
  touch-action: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
/* Prevent selection and tap highlights */
.pswp__container,
.pswp__img {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}
.pswp__zoom-wrap {
  position: absolute;
  width: 100%;
  transform-origin: left top;
  /* for open/close transition */
  transition: transform 333ms cubic-bezier(0.4, 0, 0.22, 1);
}
.pswp__bg {
  will-change: opacity;
  /* for open/close transition */
  transition: opacity 333ms cubic-bezier(0.4, 0, 0.22, 1);
}
.pswp--animated-in .pswp__bg,
.pswp--animated-in .pswp__zoom-wrap {
  transition: none;
}
.pswp__container,
.pswp__zoom-wrap {
  -webkit-backface-visibility: hidden;
}
.pswp__item {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
}
.pswp__img {
  position: absolute;
  width: auto;
  height: auto;
  top: 0;
  left: 0;
}
/*
	stretched thumbnail or div placeholder element (see below)
	style is added to avoid flickering in webkit/blink when layers overlap
*/
.pswp__img--placeholder {
  -webkit-backface-visibility: hidden;
}
/*
	div element that matches size of large image
	large image loads on top of it
*/
.pswp__img--placeholder--blank {
  background: #222;
}
.pswp--ie .pswp__img {
  width: 100% !important;
  height: auto !important;
  left: 0;
  top: 0;
}
/*
	Error message appears when image is not loaded
	(JS option errorMsg controls markup)
*/
.pswp__error-msg {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  font-size: 14px;
  line-height: 16px;
  margin-top: -8px;
  color: #CCC;
}
.pswp__error-msg a {
  color: #CCC;
  text-decoration: underline;
}
.-work {
  background: #4b85a0 url(../img/bg.png);
}
.-work .-content {
  color: #FFF;
}
.-work .-content .-work-list {
  overflow: hidden;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 10px;
  color: #000;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: justify;
}
.-work .-content .-work-list .-work-item {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  padding: 20px;
  background: #fff;
  width: 47%;
  box-sizing: border-box;
  margin-bottom: 50px;
  transition: box-shadow 0.3s ease;
}
.-work .-content .-work-list .-work-item:hover {
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}
.-work .-content .-work-list .-work-item .-work-title {
  color: #4985A0;
  margin: 5px 0;
  font-size: 18px;
}
.-work .-content .-work-list .-work-item .-work-des {
  font-size: 16px;
  line-height: 22px;
}
.-work .-content .-work-list .-work-item .-work-des-en {
  font-size: 14px;
}
.-work .-content .-work-list .-work-item .-work-link {
  width: 200px;
  height: 30px;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
  cursor: pointer;
  opacity: .6;
  transition: all .3s ease;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
}
.-work .-content .-work-list .-work-item .-work-link img {
  height: 60%;
}
.-work .-content .-work-list .-work-item .-work-link:hover {
  opacity: 1;
  background: #E6E6E6;
}
.-work .-content .-work-more {
  text-align: center;
  font-size: 18px;
}
.-work .-content .-work-more a {
  text-decoration: none;
  color: #FFF;
}
.-work .-content .-work-switch {
  position: absolute;
  left: 5%;
  right: 5%;
  bottom: 10%;
  height: 30px;
  z-index: 1;
  display: none;
  -ms-flex-pack: justify;
      justify-content: space-between;
}
.-work .-content .-work-switch .-left,
.-work .-content .-work-switch .-right {
  border-radius: 50%;
  border: 1px solid #FFF;
  height: 30px;
  width: 30px;
  position: relative;
  background: url(../img/arrow.svg) no-repeat center 35%;
  background-size: 70%;
  transform: rotate(90deg);
}
.-work .-content .-work-switch .-left {
  transform: rotate(-90deg);
}
@media screen and (max-width: 1366px) {
  .-work .-content {
    top: 150px;
  }
  .-work .-content .-work-list {
    max-width: 1200px;
  }
  .-work .-content .-work-list .-work-item {
    padding: 15px;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 600px) {
  .-work .-content {
    top: 80px;
    perspective: 2000px;
  }
  .-work .-content .-work-list {
    transform-style: preserve-3d;
    width: 280px;
    height: 75%;
    overflow: visible;
    padding: 0;
    transition: transform 2s;
  }
  .-work .-content .-work-list .-work-item:nth-child(1) {
    transform: translateZ(140px);
  }
  .-work .-content .-work-list .-work-item:nth-child(2) {
    transform: translateZ(-140px) rotateY(180deg);
  }
  .-work .-content .-work-list .-work-item:nth-child(3) {
    transform: translateX(-140px) rotateY(-90deg);
  }
  .-work .-content .-work-list .-work-item:nth-child(4) {
    transform: translateX(140px) rotateY(90deg);
  }
  .-work .-content .-work-list .-work-item {
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(255, 255, 255, 0.95);
    border-radius: 0;
    text-align: justify;
  }
  .-work .-content .-work-list .-work-item .-work-title {
    text-align: center;
    font-size: 16px;
  }
  .-work .-content .-work-list .-work-item .-work-des {
    font-size: 12px;
  }
  .-work .-content .-work-list .-work-item .-work-link {
    margin: 0 auto;
  }
  .-work .-content .-work-more {
    margin-top: 15%;
    font-size: 16px;
  }
  .-work .-content .-work-switch {
    display: -ms-flexbox;
    display: flex;
  }
  .-title {
    display: none;
  }
}
.-contact {
  color: #FFF;
  background: #a29971 url("../img/bg.png");
}
.-contact .-content {
  max-width: 300px;
  margin: 0 auto;
  text-align: center;
}
.-contact .-content .-contact-des1 {
  font-size: 22px;
  margin: 0 auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
}
.-contact .-content .-contact-des1 span:nth-child(1) {
  color: #F00;
}
.-contact .-content .-contact-des1 span:nth-child(2) {
  color: #3cf;
}
.-contact .-content .-contact-des1 span:nth-child(3) {
  color: #6c0;
}
.-contact .-content .-contact-des1 span:nth-child(4) {
  color: #f63;
}
.-contact .-content .-contact-des2 {
  font-size: 18px;
}
.-contact .-content .-contact-download {
  margin-top: 50px;
  color: #59543A;
}
.-contact .-content .-contact-download .-download-title {
  font-size: 17px;
}
.-contact .-content .-contact-download .-download-list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  max-width: 180px;
  margin: 0 auto;
  padding-top: 20px;
}
.-contact .-content .-contact-download .-download-list a {
  display: inline-block;
  color: #59543A;
  border: 1px solid #888059;
  border-radius: 5px;
  padding: 5px;
  width: 60px;
  font-size: 12px;
  position: relative;
  -webkit-tap-highlight-color: transparent;
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
}
.-contact .-content .-contact-download .-download-list a:before,
.-contact .-content .-contact-download .-download-list a:after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 5px;
  opacity: 0;
  transition: opacity 0.3s;
}
.-contact .-content .-contact-download .-download-list a:before {
  bottom: 100%;
  background: radial-gradient(ellipse at 50% 150%, rgba(105, 100, 68, 0.6) 0%, rgba(105, 100, 68, 0) 80%);
}
.-contact .-content .-contact-download .-download-list a:after {
  top: 100%;
  background: radial-gradient(ellipse at 50% -50%, rgba(105, 100, 68, 0.6) 0%, rgba(105, 100, 68, 0) 80%);
}
.-contact .-content .-contact-download .-download-list a:hover:before,
.-contact .-content .-contact-download .-download-list a:hover:after {
  opacity: 1;
}
.-contact .-content .-contact-type {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 100px auto 0;
}
.-contact .-content .-contact-type .-item {
  border-radius: 50%;
  border: 1px solid #FFF;
  width: 40px;
  height: 40px;
  position: relative;
}
.-contact .-content .-contact-type .-item img {
  width: 65%;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translateX(50%) translateY(-50%);
}
.-contact .-content-en {
  max-width: 400px;
}
.-contact .-content-en .-contact-des2 {
  font-size: 15px;
}
.-contact .-content-en .-contact-type {
  width: 80%;
}
@media screen and (max-width: 1366px) {
  .-contact .-content {
    top: 150px;
  }
}
@media screen and (max-width: 600px) {
  .-contact .-content {
    top: 80px;
    max-width: 250px;
  }
  .-contact .-content .-contact-des1 {
    font-size: 18px;
  }
  .-contact .-content .-contact-des1-en {
    font-size: 16px;
  }
  .-contact .-content .-contact-des2 {
    font-size: 15px;
  }
  .-contact .-content .-contact-download .-download-title {
    font-size: 16px;
  }
  .-contact .-content .-contact-type {
    margin: 50px auto 0;
    width: 90%;
  }
  .-contact .-content .-contact-type .-item {
    width: 30px;
    height: 30px;
  }
  .-contact .-content-en {
    max-width: 300px;
  }
  .-contact .-content-en .-contact-des2 {
    font-size: 14px;
  }
}
@media screen and (max-height: 470px) {
  .-contact .-content .-contact-des2 {
    font-size: 14px;
  }
  .-contact .-content .-contact-download {
    margin-top: 20px;
  }
}
.page-section {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  display: none;
}
.dock-fill {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #eee;
  overflow: hidden;
}
.prev-page {
  transform: translateY(-100%);
  display: block;
}
.cur-page {
  z-index: 10;
  display: block;
}
.touch-page {
  z-index: 20;
  -webkit-backface-visibility: hidden;
}
.next-page {
  transform: translateY(100%);
  display: block;
}
.active {
  transition: transform 0.5s;
  transform: translateY(0) !important;
  z-index: 100;
  display: block;
}
.-arrow {
  position: absolute;
  bottom: 20px;
  width: 20px;
  height: 35px;
  left: 50%;
  z-index: 100;
  background: url("../img/arrow.svg") no-repeat bottom center;
  background-size: contain;
  pointer-events: none;
  transform: translateX(-50%);
  animation: arrowAnimate 1.5s ease-in-out infinite;
}
@keyframes arrowAnimate {
  0% {
    bottom: 10px;
    opacity: 0.8;
  }
  50% {
    bottom: 20px;
    opacity: 1;
  }
  80% {
    bottom: 22px;
    opacity: 0.4;
  }
  100% {
    bottom: 22px;
    opacity: 0;
  }
}
@media screen and (max-width: 600px) {
  .-arrow {
    width: 15px;
  }
  .-arrow:before {
    border-width: 2px;
    right: -12px;
  }
  .-arrow:after {
    border-width: 2px;
  }
}
.-default,
.-info,
.-skill,
.-experience,
.-work,
.-contact {
  height: 100%;
}
.-content {
  position: absolute;
  top: 250px;
  left: 0;
  right: 0;
  bottom: 0;
}
.-title {
  position: absolute;
  top: 150px;
  left: 20%;
  right: 20%;
  text-align: center;
  font-size: 24px;
  color: #FFF;
}
@media screen and (max-width: 1366px) {
  .-title {
    top: 70px;
  }
}
@media screen and (max-width: 600px) {
  .-title {
    display: none;
  }
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  color: #000;
  text-decoration: none;
}
a:hover {
  color: #000;
}
a:link {
  color: #000;
}
