<div class="-work">
    <div class="-title" ng-bind="$ctrl.title"></div>
    <div class="-content">
        <ul class="-work-list">
            <li class="-work-item" ng-repeat="item in $ctrl.worksList track by $index">
                <h4 class="-work-title" ng-bind="item.title"></h4>
                <p class="-work-des" ng-class="{'-work-des-en':$ctrl.isEng}" ng-bind="item.des"></p>
                <a ng-click="toggle()" class="-work-link" ng-show="item.url" href="javascript: void 0;">点击预览</a>
            </li>
        </ul>
        <div class="-work-more">
            <a href="void 0;" target="_blank" ng-bind="$ctrl.viewMore"></a>
        </div>
        <div class="-work-switch" switch-work>
            <i class="-left"></i>
            <i class="-right"></i>
        </div>
    </div>
    <!-- Root element of PhotoSwipe. Must have class pswp. -->
<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

    <!-- Background of PhotoSwipe. 
         It's a separate element, as animating opacity is faster than rgba(). -->
    <div class="pswp__bg"></div>

    <!-- Slides wrapper with overflow:hidden. -->
    <div class="pswp__scroll-wrap">

        <!-- Container that holds slides. PhotoSwipe keeps only 3 slides in DOM to save memory. -->
        <div class="pswp__container">
            <!-- don't modify these 3 pswp__item elements, data is added later on -->
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>
        </div>

</div>
</div>